<!DOCTYPE html>
<html>
<head>
    <title>Emotion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/cs411_project/dateapp/static/app-1.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Emotion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history'%}">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                </li>
            </ul>
        </nav>

        <div class="split left">
            <div class = "cameraLabel"style="text-align:left;font-size:20px;margin-top:0px;">Logged in as: {{current_username}}</div>
            <h2 style="text-align:center;margin-top:25px;">History</h2>
            <table>
            <tr>
                <th>Date</th>
                <th>Emotion</th>
                <th>Movie 1</th>
                <th>Movie 2</th>
                <th>Movie 3</th>
            </tr>
                {% if history_available %}
                    {% for item in user_history_list %}
                        <tr>
                            <td>{{item.0}}</td>
                            <td>{{item.1}}</td>
                            <td>{{item.2}}</td>
                            <td>{{item.3}}</td>
                            <td>{{item.4}}</td>
                        </tr>
                     {% endfor %}
                {% endif %}
            </table>
        </div>
    {% else %}
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Emotion</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
    	<ul class="navbar-nav mr-auto">
	    </ul>
	 <div class="split left" style="width: 100%;">
		 <p class = "cameraLabel"style="text-align:center;margin-top: 130px;font-size:50px">Emotion</p>
		 <div class="form-group" id="loginContainer">
			 <a class="btn btn-dark" style="margin-top:110px;" href="{% url 'social:begin' 'google-oauth2' %}">
        	Login with Google
		  </a>
		 </div>
			 <div id="iconContainer">
  			<img src="https://www.materialui.co/materialIcons/action/face_black_192x192.png" alt="Avatar woman">
		  </div>

    {% endif %}
     </div>



</body>
</html>





