<!DOCTYPE html>
<html>
<head>
    <title>Emotion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/cs411_project/dateapp/static/app-1.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
	 {% if user.is_authenticated %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Emotion</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav mr-auto">
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'index'%}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'history'%}">History</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout'%}">Logout</a>
				</li>
			</ul>
		</nav>

		<div class="split left">
			<div class = "cameraLabel"style="text-align:left;font-size:20px;margin-top:0px;">Logged in as: {{current_username}}</div>
			{% if image_available %}
			{% load static %}
			<img class= "cameraPictureBorder" src="{% static '/images/happy_pic.png' %}">
			{% else %}
			<img class= "cameraPictureBorder" src="https://www.materialui.co/materialIcons/action/face_black_192x192.png">
			{% endif %}
			<!--<p class = "cameraLabel" >Access Camera</p>-->
			 <form method="post" novalidate>
			{% csrf_token %}
			<input type="hidden" name="take_photo"/>
			<button class="btn btn-dark" type='submit' id="cameraBtn">Take a photo</button>
			</form>
			<p></p>
			<p style="text-align:center">OR</p>
			<form method="post" enctype="multipart/form-data">
				 {% csrf_token %}
				<input type="file" name="document">
				<button class="btn btn-dark" type="submit">Upload file</button>
			</form>

		</div>

		<div class="split right">
			{% if emotion_notavailable %}
				<p class = "cameraLabel"style="text-align:center;margin-top: 290px;font-size:50px;color:red;">Failed to retrieve emotion! Please Try  Again</p>
			{% elif image_available %}
				<div class="moodParentDiv">
					<div class="moodResult">
						Emotion : {{emotion}}
					</div>
				</div>
				<div class="movieParentDiv">
					<div class="movies">
						<div class="movieTitle">{{movie_1}}</div>
						<img class="moviesImg" src="{{backdrop_1}}">
					</div>
					<div class="movies">
						<div class="movieTitle">{{movie_2}}</div>
						<img class="moviesImg" src="{{backdrop_2}}">
					</div>
					<div class="movies">
						<div class="movieTitle">{{movie_3}}</div>
						<img class="moviesImg" src="{{backdrop_3}}">
					</div>
				</div>

			{% else %}
				<p class = "cameraLabel"style="text-align:center;margin-top: 290px;font-size:50px">Results will appear here</p>

			{% endif %}

		</div>
	 {% else %}
	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Emotion</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
    	<ul class="navbar-nav mr-auto">
	    </ul>
	 <div class="split left" style="width: 100%;">
		 <p class = "cameraLabel"style="text-align:center;margin-top: 100px;font-size:50px">Emotion</p>
		 <p class = "cameraLabel"style="text-align:center;margin-top: 30px;font-size:30px">CS 411 Project</p>
		 <div class="form-group" id="loginContainer">
			 <a class="btn btn-dark" style="margin-top:110px;" href="{% url 'social:begin' 'google-oauth2' %}">
        	Login with Google
		  </a>
		 </div>
			 <div id="iconContainer">
  			<img src="https://www.materialui.co/materialIcons/action/face_black_192x192.png" alt="Avatar woman">
		  </div>
		  <p class = "cameraLabel"style="text-align:center;margin-top: 300px;font-size:20px">Done By: Mohammad Ali Al-Rajjal, Mike Fedorovsky, Eddy Yun, Stephen Mulyasasmita</p>


    {% endif %}

</body>
</html>







